#header .navbar {
    background: #F7F6FF;
    width: 100px;
    height: 100%;
    position: fixed;
    transition: all 0.5s ease-in-out;    
}

#header .navbar:hover {
    width: 200px;   
}

.container {
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;  
}

#header .logo {
    display: block;
    margin: 0 auto;
    padding-top: 50px;
    width: 70%;
    text-align: center;
}

#header .line23 {
    border-bottom: 2px solid #C4C4C4;
    margin-top: 17px;
}

#header .logo:hover {
       
}
        
#header .navigation ul {
    list-style: none;
    padding: 30px 0 0px 25px;
}

#header .navigation li {
    padding: 20px 9px;
    width: 100px;
}

#header .navigation .pav1 {
    position: absolute;
    left: 73px;
    top: 177px;
    color: #02577a;
    opacity: 0;
    transition: all .5s ease-in-out;
}

#header .navbar:hover .pav1 {
    opacity: 1;
}
#header .navbar:hover .pav2 {
    opacity: 1;
}
#header .navbar:hover .pav3 {
    opacity: 1;
}
#header .navbar:hover .pav4{
    opacity: 1;
}
#header .navigation .pav2 {
    position: absolute;
    left: 73px;
    top: 245px;
    color: #c4c4c4;
    opacity: 0;
    transition: all .5s ease-in-out;
}

#header .navigation .pav3 {
    position: absolute;
    left: 73px;
    top: 313px;
    color: #c4c4c4;
    opacity: 0;
    transition: all .5s ease-in-out;
}

#header .navigation .pav4 {
    position: absolute;
    left: 80px;
    top: 381px;
    color: #c4c4c4;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.navigation .games {
    position: absolute;
    left: 28px;
}

#home {
    padding-left: 100px;
}

.img {
    width: 100%;
    height: auto;
    max-width: 1607px;
    max-height: 440px;
    margin-top: 30px;      
}

#home .row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 570px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

#home .bottom-row {
    display: flex;
    justify-content: center;
    border: 2px solid #02577a;
    border-radius: 25px;
    box-sizing: border-box;
    width: 65%;
    margin: 35px auto;
    padding: 22px;
}

#home .hello p {
    font-size: 30px;
    line-height: 44px;
    letter-spacing: -1px;
    padding-left: 100px;
}

#home .clock {
    padding: 22px 90px;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    background-color: #FFFFFF;
}

#home .clock p {
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 44px;
    margin: 0;
}

#home .clock .hour {
    font-size: 36px;
    font-weight: 500;
    color: #02577A;
}

#footer p {
    font-family: 'Montserrat';
    font-size: 11px;
    color: #000000;
    font-weight: 500;
    border-top: 1px solid #02577A;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    max-width: 346px;
    line-height: 24px;
}
